<div id="Starts" class=" tab-pane active show" *ngIf="!observation">
    <div class="row">
       <div class="col-lg-12">
          <div class="scoreboard-table-block1">
             <div class="scoreboard-table-inner">
               <div class="status-content-block">
                  <div>
                     <div>
                        <div class="status-inner status-inner-edit">

                           <div class="view-row">
                              <label>Competition</label>
                              <span>{{ gameData?.competitionData?.competitionName}}</span>
                           </div>
                           <div class="view-row">
                        <label>Division</label>
                        <span>{{ gameData?.competitionData?.division }}</span>
                     </div>
                     <div class="view-row">
                        <label>Period</label>
                        <span>{{ gameData?.competitionData?.period}}</span>
                     </div>
                     <div class="view-row">
                        <label>Date</label>
                        <span>12/12/2017</span>
                     </div>
                     <div class="view-row">
                        <label>Time</label>
                        <span>23:00:01</span>
                     </div>
                     <div class="view-row">
                        <label>Venue</label>
                        <span>{{ gameData?.competitionData?.venue}}</span>
                     </div>
                     <div class="view-row">
                        <label>Referee</label>
                        <span>Sushant</span>
                     </div>
        </div>
     </div>
  </div>
</div>
                 <div class="table-scrool-box1">
                 <div class="table-block mt30">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                           <thead>
                             <tr class="table-head-bg">
                               <th>Player Name</th>
                               <th>Team Name</th>
                               <th *ngFor="let data of tableTennisGameDetailsData?.teamDeatailsOne[0]?.scoreData">{{ data.name}}</th>
                               <th>Final Score</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                  <p>{{ tableTennisGameDetailsData?.teamDeatailsOne[0]?.playersDetails[0]?.firstName }}</p>
                                  <p *ngIf="sportType == 'double'">{{tableTennisGameDetailsData?.teamDeatailsOne[0]?.playersDetailsTwo[0]?.firstName}}</p>
                              </td>
                               <td>{{ tableTennisGameDetailsData?.teamDeatailsOne[0]?.teamDetails[0]?.teamName }}</td>  
                               <td *ngFor="let score of itemArray">{{ score.score}}</td>
                               <td>{{ finalScoreOfOne }}</td>
                             </tr>
                             <tr >
                               <td>
                                  <p>{{ tableTennisGameDetailsData?.teamDeatailsTwo[0]?.playersDetails[0]?.firstName }}</p>
                                  <p *ngIf="sportType == 'double'">{{tableTennisGameDetailsData?.teamDeatailsTwo[0]?.playersDetailsTwo[0]?.firstName}}</p>
                               </td>
                               <td>{{ tableTennisGameDetailsData?.teamDeatailsTwo[0]?.teamDetails[0]?.teamName }}</td> 
                               <td *ngFor="let score of itemArrayTwo">{{ score.score}}</td>
                               <td>{{ finalScoreOfTwo }}</td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                 </div>
               </div>
             <div class=" text-right mt20">
               <button class="btn btn btn-dark-blue-s" data-toggle="modal" data-target="#tableTennisSingleScore" data-backdrop="static" data-keyboard="false">Edit Score</button>
               <button type="button" class="btn btn-dark-blue-s max-WT-200 white-bor" data-toggle="modal" data-target="#socialSharing" data-backdrop="static" data-keyboard="false" (click)="sendUrl()">Publish Match</button>
            </div>
           </div>
         </div>
       </div>
     </div>
 </div>


  <!-- Observation -->
<div id="Information" *ngIf="observation">
   <div class="tab-inner-text-block">
     <div class="col-md-12 col-lg-12 marginzero">
       <textarea class="form-control common-textarea" [(ngModel)]="observationMessage"></textarea>
       <div class=" text-right mt10">
         <button class="btn btn btn-dark-blue-s" (click)="updateObservation()">Update Observation</button>
         <button class="btn btn btn-dark-blue-s" [disabled]="messageFromObservation" (click)="addObservation()">Add Observation</button>
       </div>
     </div>
   </div>
</div>


 <!-- Edit score -->
<div class="modal fade common-modal" id="tableTennisSingleScore" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog max-WT-800" role="document">
         <div class="modal-content">
            <form class="modal-add-card-form" >
                  <h5 class="modal-head mt15 mb5 pb20 navy-blue font_uni_sans" style="text-align:center">EDIT SCORE </h5>
                  <div class="modal-content-body modalform-body text-left">
                     <div class="row">
  
                        <div class="">
                        


                        <div class="table-scrool-box" >
                           <div class="table-block mt30">
                              <div class="table-responsive">
                                    <table class="table table-bordered large-table" style="border: 1px solid #6c757d;" >
                                          <thead>
                                             <tr class="table-head-bg" >
                                                <th>Player Name</th>
                                                <th>Team Name</th>
                                                <th  *ngFor="let data of tableTennisGameDetailsData?.teamDeatailsOne[0]?.scoreData" >{{ data?.name }}</th>
                                                <th>Full Score</th>
                                             </tr>
                                          </thead>
                                          
                                          <tbody>
                                             <tr>
                                                <td>
                                                   <p>{{tableTennisGameDetailsData?.teamDeatailsOne[0]?.playersDetails[0]?.firstName}}</p>
                                                   <p *ngIf="sportType == 'double'">{{tableTennisGameDetailsData?.teamDeatailsOne[0]?.playersDetailsTwo[0]?.firstName}}</p>
                                                </td>
                                                <td >{{tableTennisGameDetailsData?.teamDeatailsOne[0]?.teamDetails[0]?.teamName}}</td>
                                                <td  *ngFor="let item of itemArray ; let i = index; trackBy: trackByIndex">
                                                   <span >
                                                      <input type="number"  [(ngModel)]="item.score"  name="scoreOne{{i}}" class="inputScore"  inputMode="numeric" digitOnly>
                                                   </span>  
                                                </td>
                                                <td>
                                                   <span>
                                                      <input type="number" [(ngModel)]="finalScoreOfOne" name="finalScoreOne" class="inputScore" inputmode="numeric" digitOnly>
                                                   </span>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <p>{{tableTennisGameDetailsData?.teamDeatailsTwo[0]?.playersDetails[0]?.firstName}}</p>
                                                   <p *ngIf="sportType == 'double'">{{tableTennisGameDetailsData?.teamDeatailsTwo[0]?.playersDetailsTwo[0]?.firstName}}</p>
                                                </td>
                                                <td>{{tableTennisGameDetailsData?.teamDeatailsTwo[0]?.teamDetails[0]?.teamName}}</td>
                                                <td  *ngFor="let data of itemArrayTwo; let i = index; trackBy: trackByIndex">
                                                   <span >
                                                      <input type="number" [(ngModel)]="data.score" name="scoreTwo{{i}}" class="inputScore" inputMode="numeric"  digitOnly>
                                                   </span>
                                                </td>
                                                <td>
                                                   <span>
                                                      <input type="number" [(ngModel)]="finalScoreOfTwo" name="finalScoreTwo" class="inputScore" inputmode="numeric" digitOnly>
                                                   </span>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>



                           
                           <div class="clearfix calendar-action mt30 text-center">
                              <button type="button" class="mb25 btn btn-gray max-WT-150" data-dismiss="modal" (click)="onCancel()">Cancel</button>
                              <button type="submit" class="mb25 btn btn-navy-blue max-WT-150 mL5" data-dismiss="modal" (click)="updatedScore()">Update</button>
                           </div>
                        </div>
                     </div>
                  </div>
            </form>
         </div>
      </div>
   </div>