.cld-main{
  width: 100%;
  background:#fafafa
}
.cld-main a{
  color: #0080FF;
}
.cld-main svg{
  fill: #0080FF;
}
  .cld-datetime{
    position: relative;
    width: 45%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
	padding: 8px 0;
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
    color: #403f3f;
    font-weight: 600;
  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
	text-align:center;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #005EFF;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day{
    border: 1px solid #c5c3c3;
	    border-right: 0;
    border-bottom: 0;
	background:#fff;
  }
  .cld-day.today .cld-number{
    background: #fff; 
	color:#0080FF;
	height:43px;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.50;
	background:#f3f3f3;
  }
.cld-number {
    position: relative;
    margin: 0;
    padding: 1px 5px;
    height: 45px;
    text-align: right;
	
}
      .cld-title{
        position: absolute;
        z-index: 5;
        display: none;
        top: 35px;
        left: 0;
        padding: 5px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #eee;
        border-radius: 5px;
        font-size: 12px;
      }
      .cld-number:hover .cld-title{
        display: block;
      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 10px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #eee;
      }
      .cld-number.eventday{
        font-weight: bold;
        color: #0080FF;
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: #eee;
      }
      .today .cld-number.eventday:hover{
        background: #005EFF;
      }

.value_active { position: absolute; top: 50%; left: 50%; width: 20px; height: 20px; background: #1e5edc; border-radius: 50%; color: #fff; text-align: center; font-size: 12px; line-height: 20px; margin: -10px 0 0 -10px; }	  

li.cld-label {border: 1px solid #eee; padding:5px;  border-right:0; border-bottom:0; color: #565656; font-weight:600; font-weight:600; font-size:12px;} 

li.cld-day.currMonth.today {border:2px solid #4a81ed;}
.cld-nav .fa{color:#4a81ed; font-size:22px; position:relative; top:-2px;}