   <!--  Header Start -->
   <app-header></app-header>
   <!-- Header  End    -->
   <div class="topBanner">
      <div class="container">
      </div>
   </div>
     <!-- main Start -->
   <main class="main-container pt0 mt-min60">
      <div class="container-common">
         <div class="content-box bg-gray">
            <div class="custom-breadcrumb custom-breadcrumb1 mt0 clearfix">
                <div class="fleft">
                  <nav class="breadcrumb">
                      <a class="breadcrumb-item " [routerLink]="['/organizer/service']"> Service</a>
                      <a class="breadcrumb-item"        [routerLink]="['/organizer/professional']">Professional</a>
                      <a class="breadcrumb-item"        [routerLink]="['/organizer/booking']"> Booking </a>
                      <!-- <a class="breadcrumb-item active"        [routerLink]="['/organizer/option']"> Option </a> -->
                   </nav>
                </div>
                
              </div>
            <div class="btn_row mb20">
               <button type="btn" class="btn">Booking</button>
               <button type="btn" class="btn">Working Time</button>
           </div>
           <div class="table-block mt10 white-bg pb0">
               <div class="table-responsive">
                  <table class="table table-bordered large-table text-center mb0">
                     <thead>
                        <tr class="table-head-bg">
                           <th>Date of Time</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                           <th>Lunch From</th>
                           <th>Lunch To</th>
                           <th>Is day off</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Monday</td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                             <span class="custom-checkbox"><input type="checkbox" id="check2">
                              <label for="check2"></label>
                              </span>
                           </td>
                        </tr>
                        <tr>
                           <td>Tuesday</td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                             <span class="custom-checkbox"><input type="checkbox" id="check2">
                              <label for="check2"></label>
                              </span>
                           </td>
                        </tr>
                        <tr>
                           <td>Wednessday</td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                             <span class="custom-checkbox"><input type="checkbox" id="check2">
                              <label for="check2"></label>
                              </span>
                           </td>
                        </tr>
                        <tr>
                           <td>Thursday</td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                             <span class="custom-checkbox"><input type="checkbox" id="check2">
                              <label for="check2"></label>
                              </span>
                           </td>
                        </tr>
                        <tr>
                           <td>Friday</td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                             <span class="custom-checkbox"><input type="checkbox" id="check2">
                              <label for="check2"></label>
                              </span>
                           </td>
                        </tr>
                        <tr>
                           <td>Saturday</td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                             <span class="custom-checkbox"><input type="checkbox" id="check2">
                              <label for="check2"></label>
                              </span>
                           </td>
                        </tr>
                        <tr>
                           <td>Sunday</td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="schedule-select">
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                                 <select class="form-control select-style1">
                                    <option>00</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                             <span class="custom-checkbox"><input type="checkbox" id="check2">
                              <label for="check2"></label>
                              </span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="text-center pt30">
               <button type="submit" class="btn btn-navy-blue max-WT-170 font_uni_sans">Save</button>
           </div>
         </div>
         <!-- Max With Box End -->
      </div>
   </main>
   <!-- main End -->
   <!-- Footer Start -->
   <app-footer></app-footer>
   <!-- Footer End -->