<app-header></app-header>
<div class="landing_top_banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="topBanner-content d-flex align-items-center w-100">
                    <div class="w-100">
                        <h1>Upcoming Event</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing<br> and typesetting industry.</p>
                        <button class="btn btn-blue uppercase btn-large" [routerLink]="['/landing/selectRole']">Create Account</button>
                        <span class="btn_mouse" (click)="moveScroll()"><img src="assets/images/mouse-icon.png" alt="icon"/></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main Start -->
<main class="main-container">
    <section class="lets_move_section">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="section_head">
                        <h2 class="navy-blue">LET’S MOVE</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took.</p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="move-right-block">
                        <div class="move_outer_block">
                            <div class="move_inner_block">
                                <strong>Lorem Ipsum is simply dummy  text of the printing and type setting industry.</strong>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- lets_move_section End -->
    <!-- video_event_section Start -->
    <section class="video_event_section">
        <div class="custom-container">
            <div class="section_head">
                <h2 class="max-WT-450">CHECK OUT AMAZING VIDEOS Event</h2>
                <p class="white">Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry. Lorem Ipsum has been.</p>
            </div>
            <div class="event_video">
                <iframe src="https://www.youtube.com/embed/LnyZBATX-wM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!-- video_event_section End -->
    <!-- Service Section  Start -->
    <section class="service_section">
        <div class="custom-container">
            <div class="section_head text-center mb40">
                <h2 class="gray-color">SERVICES</h2>
                <p>DIGI Sports is a Global Sports Management company with a major expertise in Event Management & <br> Sports Marketing. Our services are divided into six areas:</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service_block">
                        <figure>
                            <img src="assets/images/service-img1.png" alt="Service Image" />
                        </figure>
                        <div class="service_info">
                            <h4>Event</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service_block">
                        <figure>
                            <img src="assets/images/service-img2.png" alt="Service Image" />
                        </figure>
                        <div class="service_info">
                            <h4>Academies</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service_block">
                        <figure>
                            <img src="assets/images/service-img3.png" alt="Service Image" />
                        </figure>
                        <div class="service_info">
                            <h4>Camp</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service_block">
                        <figure>
                            <img src="assets/images/service-img4.png" alt="Service Image" />
                        </figure>
                        <div class="service_info">
                            <h4>Corporate</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Section End-->
    <!-- feature_section  Start -->
    <section class="feature_section">
        <div class="custom-container">
            <div class="section_head text-center mb80">
                <h2>A SYSTEM FILLED WITH FEATURES</h2>
                <p class="white">Increase participation rate and save time</p>
            </div>
            <ul class="feature_list">
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b">
                            <span class="feature_icon"><img src="assets/images/feature-icon1.png" alt="Service Image"/></span>
                        </div>
                        <strong>Calender</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon2.png" alt="Service Image"/></span></div>
                        <strong>Competitions</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon3.png" alt="Service Image"/></span></div>
                        <strong>Games</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon4.png" alt="Service Image"/></span></div>
                        <strong>Communication</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon5.png" alt="Service Image"/></span></div>
                        <strong>Registration</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon6.png" alt="Service Image"/></span></div>
                        <strong>Access Control</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon7.png" alt="Service Image"/></span></div>
                        <strong>Teams</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon8.png" alt="Service Image"/></span></div>
                        <strong>Mobile App</strong>
                    </div>
                </li>
                <li>
                    <div class="feature_block">
                        <div class="feature_icon_outer hovicon effect-4 sub-b"><span class="feature_icon"><img src="assets/images/feature-icon9.png" alt="Service Image"/></span></div>
                        <strong>Security</strong>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- feature_section  End -->
    <!-- sport_management_section Start -->
    <section class="sport_management_section">
        <div class="container">
            <div class="section_head text-center mb60">
                <h2 class="gray-color">COMPREHENSIVE MANAGEMENT OF ANY SPORTS COMPETITION</h2>
                <p>DIGI supports every area of your competition</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="sport_manage_block">
                        <span class="sport_manage_icon">
                        <img src="assets/images/admin-icon.png" alt="Icon"/>
                        </span>
                        <h4>ADMINS</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="sport_manage_block">
                        <span class="sport_manage_icon">
                        <img src="assets/images/whistle-icon.png" alt="Icon"/>
                        </span>
                        <h4>REFEREES</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="sport_manage_block">
                        <span class="sport_manage_icon">
                        <img src="assets/images/team-icon.png" alt="Icon"/>
                        </span>
                        <h4>TEAMS</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="sport_manage_block">
                        <span class="sport_manage_icon">
                        <img src="assets/images/foot-icon.png" alt="Icon"/>
                        </span>
                        <h4>PLAYERS</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sport_management_section End -->
    <!-- Sport Blcok Section Start -->
    <section class="more_then_sport_section">
        <div class="container">
            <div class="section_head mb30">
                <h2>MORE THAN SPORT</h2>
                <p class="white">We strive for ethics and fairness in everything we do. Sports is our passion and joy. Passion for our work is the fuel that inspires us to achieve extraordinary results. Superior quality is the “ground floor” of our organization.</p>
            </div>
            <button class="btn white_btn max-WT-230"><span>EXPLORE NOW</span></button>
        </div>
    </section>
    <!-- Sport Blcok Section Start -->
    <!-- Download Section Start -->
    <section class="download_section">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="mobile_frame_block">
                        <div class="mobile_inner_block">
                            <img src="assets/images/mob-frame.png" alt="Mobile Frame Image" />
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10">
                    <div class="section_head mb35">
                        <h2>DOWNLOAD</h2>
                        <p class="white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                    <div class="download-app">
                        <a href="javascript:void(0)">
                            <img src="assets/images/google-play.png" alt="Play Store Image" />
                        </a>
                        <a href="javascript:void(0)">
                            <img src="assets/images/app-store.png" alt="App Store Image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download Section End -->
    <!-- Get The Latest Section Start -->
    <section class="get_latest_section">
        <div class="container">
            <div class="section_head mb40">
                <h2 class="navy-blue">Get the Latest Updates</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
            <div class="searc-form-box">
                <form class="clearfix">
                    <input type="text" class="form-control" placeholder="please enter email address" />
                    <button type="submit" class="btn btn-join btn-yellow">JOIN NOW</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Get The Latest Section End -->
</main>
<!-- main End -->
<app-footer></app-footer>