<app-header></app-header>
<div class="topBanner height300 logintopbanner"></div>
<!-- main Start -->
<main class="main-container">
    <div class="container">
        <div class="content-box max-WT-767 mrgn-0-auto">
            <h2 class="log-head text-center">Select your role to signup</h2>
            <div class="form-box max-WT-550 mrgn-0-auto mt60">
              <form class="login-form">
                <div class="page_head text-center form-heading">
                </div>
                <div class="select-block mt50">
                    <div class="user-sec-block mt20">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="javascript:;">
                                    <div class="user-section" [routerLink]="['/landing/signup/player']">
                                        <img src="assets/images/player.png" alt="">
                                        <div class="user-name">I'm a player </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="javascript:;">
                                    <div class="user-section" [routerLink]="['/landing/signup/organization']">
                                        <img src="assets/images/building.png" alt="">
                                        <div class="user-name">I'm a organizer </div>
                                    </div>
                                </a>
                            </div>
                            <!-- <div class="col-sm-4">
                                <a href="javascript:;">
                                    <div class="user-section" [routerLink]="['/landing/signup/venue']">
                                        <img src="assets/images/calendar.png" alt="">
                                        <div class="user-name">I'm a venue </div>
                                    </div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>



        <!-- Max With Box End -->

    </div>
</main>
<!-- main End -->
<app-footer></app-footer>