<main class="app-content patient-section">
  <div class="app-title">
    <h1><i class="fa fa-th-list"></i> Change Password</h1>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: -webkit-center;margin-top: 72px;">
      <div class="tile" style="min-width: 455px;max-width: 455px;">
          <section class="change">
              <div class="withoutShadow">
                <form class="login-form" [formGroup]="changePasswordForm" #f="ngForm">
                  <h3 class="login-head mt-3"><i class="fa fa-key"></i>CHANGE PASSWORD </h3>
                  <div class="form-group" style="text-align: left">
                    <label class="control-label mt-3">Old Password <strong style="color:red">*</strong></label>
                    <input class="form-control" formControlName="oldPassword" type="password" placeholder="Old password">
                    <div class="text-danger" *ngIf="changePasswordForm.get('oldPassword').hasError('required') && (changePasswordForm.get('oldPassword').dirty || f.submitted)">
                      {{validationMessage?.password?.required}}
                    </div>
                    <div class="text-danger" *ngIf="changePasswordForm.get('oldPassword').hasError('minlength') && (changePasswordForm.get('oldPassword').dirty || f.submitted)">
                        {{validationMessage?.password?.minlength}}
                      </div>
                      <div class="text-danger" *ngIf="changePasswordForm.get('oldPassword').hasError('maxlength') && (changePasswordForm.get('oldPassword').dirty || f.submitted)">
                        {{validationMessage?.password?.maxlength}}
                      </div>
                  </div>
                  <div class="form-group" style="text-align: left">
                    <label class="control-label">New Password <strong style="color:red">*</strong></label>
                    <input class="form-control" formControlName="newPassword" type="password" placeholder="New password">
                    <div class="text-danger" *ngIf="changePasswordForm.get('newPassword').hasError('required') && (changePasswordForm.get('newPassword').dirty || f.submitted)">
                      {{validationMessage?.password?.required}}
                    </div>
                    <div class="text-danger" *ngIf="changePasswordForm.get('newPassword').hasError('minlength') && (changePasswordForm.get('newPassword').dirty || f.submitted)">
                      {{validationMessage?.password?.minlength}}
                    </div>
                    <div class="text-danger" *ngIf="changePasswordForm.get('newPassword').hasError('maxlength') && (changePasswordForm.get('newPassword').dirty || f.submitted)">
                      {{validationMessage?.password?.maxlength}}
                    </div>
                  </div>
                    <div class="form-group" style="text-align: left">
                        <label class="control-label">Confirm New Password <strong style="color:red">*</strong></label>
                        <input class="form-control" formControlName="confirmNewPassword" type="password" placeholder="New password">
                        <div class="text-danger" *ngIf="changePasswordForm.get('confirmNewPassword').hasError('required') && (changePasswordForm.get('confirmNewPassword').dirty || f.submitted)">
                          {{validationMessage?.password?.required}}
                        </div>
                        <div class="text-danger" *ngIf="(changePasswordForm.value.newPassword != changePasswordForm.value.confirmNewPassword) && !(changePasswordForm.get('confirmNewPassword').hasError('required')) && (changePasswordForm.get('confirmNewPassword').dirty)">
                          {{validationMessage?.confirmPassword?.mismatch}}
                        </div>
                      </div>
                  <div class="form-group" style="text-align: center">
                    <button type="submit" (click)="changePassword()" [disabled]="changePasswordForm.invalid || (changePasswordForm.value.newPassword != changePasswordForm.value.confirmNewPassword)" class="btn btn-info"><i
                        class="fa fa-key"></i>CHANGE PASSWORD</button>
                      <button type="button" class="btn btn-danger ml-2" style='min-width: 200px;'>BACK</button>
                  </div>
                </form>
              </div>
            </section>
      </div>

    </div>
  </div>
</main>
