.withoutShadow {
  position: relative;
  min-width: 400px;
  min-height: 390px;
  background-color: #fff;
  perspective: 800px;
  transition: all 0.5s ease-in-out;
}
.change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  text-align: center
}
