<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>Peer To Peer Storage</h1>
  </div>
  <div class="login-box">
    <form class="login-form" [formGroup]="LoginForm" #f="ngForm">
      <!-- <ngx-spinner bdOpacity = 0.9 bdColor = "#ffffff" size = "medium" color = "#000000"
        type = "ball-atom" [fullScreen] = "false" >
        <p style="color: #303030" > Loading... </p>
      </ngx-spinner> -->
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN </h3>
      <div class="form-group">
        <label class="control-label">EMAIL <strong style="color:red">*</strong></label>
        <input class="form-control" formControlName="email" type="text" placeholder="Email">
        <div class="text-danger" *ngIf="LoginForm.get('email').hasError('required') && (LoginForm.get('email').dirty || f.submitted)">
          {{validationMessage?.email?.required}}
        </div>
        <div class="text-danger" *ngIf="LoginForm.get('email').hasError('pattern') && !(LoginForm.get('email').hasError('maxlength')) && (LoginForm.get('email').dirty || f.submitted)">
          {{validationMessage?.email?.invalid}}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">PASSWORD <strong style="color:red">*</strong></label>
        <input class="form-control" formControlName="password" type="password" placeholder="Password">
        <div class="text-danger" *ngIf="LoginForm.get('password').hasError('required') && (LoginForm.get('password').dirty || f.submitted)">
          {{validationMessage?.password?.required}}
        </div>
        <div class="text-danger" *ngIf="LoginForm.get('password').hasError('minlength') && (LoginForm.get('password').dirty || f.submitted)">
          {{validationMessage?.password?.minlength}}
        </div>
        <div class="text-danger" *ngIf="LoginForm.get('password').hasError('maxlength') && (LoginForm.get('password').dirty || f.submitted)">
          {{validationMessage?.password?.maxlength}}
        </div>
      </div>
      <div class="form-group">
        <div class="utility">
          <div class="animated-checkbox">
            <label>
              <!-- <input type="checkbox"><span class="label-text">Stay Signed in</span> -->
            </label>
          </div>
          <p class="semibold-text mb-2"><a class="text-color-theme" [routerLink]="['/forgotPassword']">Forgot Password
              ?</a></p>
        </div>
      </div>
      <div class="form-group btn-container">
        <button type="submit" [disabled]="LoginForm.invalid || disableButton" (click)="login()" class="btn btn-primary btn-block"><i
            class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
      </div>
    </form>
  </div>
</section>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Verify Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="loginEmailVerificationForm">
        <!-- <ngx-spinner bdOpacity = 0.9 bdColor = "#ffffff" size = "medium" color = "#000000"
          type = "ball-atom" [fullScreen] = "false" >
          <p style="color: #303030" > Loading... </p>
        </ngx-spinner> -->
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Verification Code:</label>
            <input type="text" class="form-control" formControlName="verificationCode" id="recipient-name">
            <div class="text-danger" *ngIf="loginEmailVerificationForm.get('verificationCode').hasError('required') && (loginEmailVerificationForm.get('verificationCode').dirty || loginEmailVerificationForm.get('verificationCode').touched)">
                {{validationMessage?.verificationCode?.required}}
            </div>
            <div class="text-danger" *ngIf="loginEmailVerificationForm.get('verificationCode').hasError('pattern') && (loginEmailVerificationForm.get('verificationCode').dirty || loginEmailVerificationForm.get('verificationCode').touched)">
                {{validationMessage?.verificationCode?.invalid}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" [disabled]="loginEmailVerificationForm.invalid" class="btn btn-primary" (click)="verifyEmail()">Verify</button>
        </div>
      </form>
    </div>
  </div>
</div>
