<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>Peer To Peer Storage</h1>
  </div>
  <div class="login-box">
    <form class="login-form" [formGroup]="securityQuestionForm" #f="ngForm">
      <!-- <ngx-spinner bdOpacity = 0.9 bdColor = "#ffffff" size = "medium" color = "#000000"
        type = "ball-atom" [fullScreen] = "false" >
        <p style="color: #303030" > Loading... </p>
      </ngx-spinner> -->
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Security Question </h3>
      <div class="form-group">
        <label class="control-label">{{question?.question}} ? <strong style="color:red">*</strong></label>
        <input class="form-control" formControlName="answer" type="text" placeholder="Enter your answer...">
        <div class="text-danger" *ngIf="securityQuestionForm.get('answer').hasError('required') && (securityQuestionForm.get('answer').dirty || f.submitted)">
          {{validationMessage?.question?.required}}
        </div>
        <div class="text-danger" *ngIf="securityQuestionForm.get('answer').hasError('maxlength') && (securityQuestionForm.get('answer').dirty || f.submitted)">
          {{validationMessage?.question?.maxlength}}
        </div>
      </div>
      <div class="form-group btn-container">
        <button type="submit" [disabled]="securityQuestionForm.invalid" (click)="submit(securityQuestionForm.value)" class="btn btn-primary btn-block">
          <i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN
        </button>
        <button class="btn btn-primary btn-block" (click) = "back()" [routerLink]="['/']">Back</button>
      </div>
    </form>
  </div>
</section>
