<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Storage Type</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <!-- [routerLink]="['/admin/header/staticcontentManagement']" -->
      <li class="breadcrumb-item"><a [routerLink]="['/header/staticContentManagement']">Storage Type</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <form [formGroup]="addStorageForm" #f="ngForm">
          <fieldset class="global-fieldset" style="margin: 25%;">
            <legend>Add Storage Type</legend>
            <div class="row">
                    <div class="col-md-12 center-align">
                      <div class="image-upload">
                            <img src="assets/img/text.png" *ngIf="!image" class="image-setting">
                            <img [src]="image" *ngIf="image" class="image-setting">
                        <input id="file-input" accept="image/png,image/jpeg" (change)="selectImages($event)" type="file" />
                      </div>
                    </div>
              <div class="col-md-12">
                <label>Storage Type</label>
                <input type="text" formControlName="storageType" class="form-control" placeholder="Storage Type">
                <div *ngIf="addStorageForm.get('storageType').hasError('required') && (addStorageForm.get('storageType').dirty || f.submitted)"
                  style="color:red">
                </div>
                <div *ngIf="addStorageForm.get('storageType').hasError('pattern') && (addStorageForm.get('storageType').dirty || f.submitted)"
                  style="color:red">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group  btn-container mt-2 text-right">
                  <button class="btn btn-primary btn-md" [disabled]="addStorageForm.invalid" (click)="submit(addStorageForm.value)"><i
                      class="fa fa-sign-in fa-lg fa-fw"></i>Submit</button>&nbsp;
                  <button class="btn btn-primary btn-md" routerLink="/header/staticContentManagement">Back</button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>
