<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>Peer To Peer Storage</h1>
    </div>
    <div class="login-box" style="min-height: 493px;">
      <form class="login-form" [formGroup]="forgotPassword" #f="ngForm">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Reset Password </h3>

        <div class="form-group">
          <label class="control-label">Verification Code <strong style="color:red">*</strong></label>
          <input class="form-control" formControlName="code" type="text" placeholder="verification code">
          <div class="text-danger" *ngIf="forgotPassword.get('code').hasError('required') && (forgotPassword.get('code').dirty || f.submitted)" >
            {{validationMessage?.varificationCode?.required}}
        </div>
        <!-- <div class="text-danger" *ngIf="forgotPassword.get('newPassword').hasError('minlength') && (forgotPassword.get('newPassword').dirty || f.submitted)" >
          {{validationMessage?.password?.minlength}}
        </div>
        <div class="text-danger" *ngIf="forgotPassword.get('newPassword').hasError('maxlength') && (forgotPassword.get('newPassword').dirty || f.submitted)" >
          {{validationMessage?.password?.maxlength}}
        </div> -->
        </div>
        <div class="form-group">
          <label class="control-label">New Password <strong style="color:red">*</strong></label>
          <input class="form-control" formControlName="newPassword" type="password" placeholder="Password">
          <div class="text-danger" *ngIf="forgotPassword.get('newPassword').hasError('required') && (forgotPassword.get('newPassword').dirty || f.submitted)" >
            {{validationMessage?.password?.required}}
        </div>
        <div class="text-danger" *ngIf="forgotPassword.get('newPassword').hasError('minlength') && (forgotPassword.get('newPassword').dirty || f.submitted)" >
          {{validationMessage?.password?.minlength}}
        </div>
        <div class="text-danger" *ngIf="forgotPassword.get('newPassword').hasError('maxlength') && (forgotPassword.get('newPassword').dirty || f.submitted)" >
          {{validationMessage?.password?.maxlength}}
        </div>
        </div>
        <div class="form-group">
          <label class="control-label">Confirm Password <strong style="color:red">*</strong></label>
          <input class="form-control" formControlName="confirmPassword" type="password" placeholder="Confirm Password">
          <div class="text-danger" *ngIf="forgotPassword.get('confirmPassword').hasError('required') && !(forgotPassword.value.newPassword != forgotPassword.value.confirmPassword) && (forgotPassword.get('confirmPassword').dirty || f.submitted)" >
            {{validationMessage?.confirmPassword?.required}}
          </div>
          <div class="text-danger" *ngIf="(forgotPassword.value.newPassword != forgotPassword.value.confirmPassword) && (forgotPassword.get('confirmPassword').dirty || f.submitted)" >
            {{validationMessage?.confirmPassword?.mismatch}}
          </div>
        </div>
        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block" [disabled]="forgotPassword.value.newPassword != forgotPassword.value.confirmPassword || forgotPassword.invalid" (click)="submit(forgotPassword.value)">Reset Password</button>
          <button class="btn btn-primary btn-block" [routerLink]="['/']">Back</button>
        </div>
      </form>
    </div>
  </section>
