<app-header></app-header>
<div class="topBanner height300">
    <div class="container">
    </div>
</div>
<main class="main-container pt0 mt-min60">
    <div class="container">
        <div class="fixtures-section w-100 center-box">
            <div class="global-box grey-box">
                <app-memb-header></app-memb-header>
                <h2 class="content-box-head">Sponsor List</h2>
                <!-- <div class="content-box-filter">
                    <div class="row">
                        <div class="col-md-12 col-lg-9">
                            <form class="filter-form">
                                <div class="filter-box d-inline-block">
                                    <label class="control-label">Service Status</label>
                                    <select class="form-control select-style1 d-inline-block width200" [(ngModel)]="data.status" [ngModelOptions]="{standalone: true}">
                                    <option value="" >Select Status</option>
                                    <option value='confirmed' >Confirmed</option>
                                    <option value='unconfirmed' >Unconfirmed</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-navy-blue max-WT-100" (click)="onChangeStatus()">Apply</button>
                            </form>
                        </div>
                        <div class="col-md-12 col-lg-3 text-right">
                            <div class="search-box max-WT-300">
                               <input class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="data.search" name="search" autocomplete="off" (keyup)="onSearch(1, $event)">
                                <i class="fas fa-search" (click)="onSearch(2)"></i>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="table-block mt30">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sponsor Name</th>
                                    <th>Sponsor Link</th>
                                    <th>Position</th>
                                    <th>Organizer Id</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <!-- <th class="W-150">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="sponsorList.length == 0">
                                    <td colspan="8">No data found.</td>
                                </tr>
                                <tr class="pointer" *ngFor='let sponsor of sponsorList| paginate : { itemsPerPage: paginationData.limit, currentPage: paginationData.page, totalItems: paginationData.total }'>
                                    <td>{{sponsor?.sponsorName}}</td>
                                    <td>{{sponsor?.link}}</td>
                                    <td>{{sponsor?.position}}</td>
                                    <td>{{sponsor?.userId}}</td>
                                    <td>{{sponsor?.createdAt | date : 'dd/MMM/yyyy'}}</td>
                                    <td>{{sponsor?.status}}</td>
                                    <!-- <td><ul><li *ngFor='let prof of sponsor["professionals"]'>{{prof?.professionalName}}</li></ul></td>
                                    <td>
                                        <button *ngIf='sponsor?.bookingStatus == "True"' (click)='book(sponsor, 1)' class="btn btn-book" >Booking Detail</button>
                                        <a  (click)='book(sponsor, 2)' class="btn btn-book">Book</a>
                                    </td> -->
                                </tr>
                                  <!-- <tr>
                        <td>Face Therapist</td>
                        <td>$50.00</td>
                        <td>30 Minutes</td>
                        <td>22/03/2018</td>
                        <td>3:00 PM</td>
                        <td>Service</td>
                        <td>
                           <a href="javascript:;" class="btn btn-book">Book</a>
                        </td>
                      </tr>    
                     <tr>
                        <td>Face Therapist</td>
                        <td>$50.00</td>
                        <td>30 Minutes</td>
                        <td>22/03/2018</td>
                        <td>3:00 PM</td>
                        <td>Service</td>
                        <td>
                           <a href="javascript:;" class="btn btn-book">Book</a>
                        </td>
                      </tr> 
                      <tr>
                        <td>Face Therapist</td>
                        <td>$50.00</td>
                        <td>30 Minutes</td>
                        <td>22/03/2018</td>
                        <td>3:00 PM</td>
                        <td>Service</td>
                        <td>
                           <a href="javascript:;" class="btn btn-book">Book</a>
                        </td>
                      </tr>  
                      <tr>
                        <td>Face Therapist</td>
                        <td>$50.00</td>
                        <td>30 Minutes</td>
                        <td>22/03/2018</td>
                        <td>3:00 PM</td>
                        <td>Service</td>
                        <td>
                           <a href="javascript:;" class="btn btn-book">Book</a>
                        </td>
                      </tr> 
                      <tr>
                        <td>Face Therapist</td>
                        <td>$50.00</td>
                        <td>30 Minutes</td>
                        <td>22/03/2018</td>
                        <td>3:00 PM</td>
                        <td>Service</td>
                        <td>
                           <a href="javascript:;" class="btn btn-book">Book</a>
                        </td>
                      </tr>  -->
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-block mt10 text-right" *ngIf="paginationData.total > paginationData.limit">
                        <pagination-controls (pageChange)="getSponsorList($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>


        <!-- Max With Box End -->

    </div>
</main>
<app-footer></app-footer>