<app-header></app-header>
<div class="topBanner">
</div>
<!-- main Start -->
<main class="main-container pt0 mt-min60">
  <div class="content-container">
    <div class="fixtures-section w-100 center-box">
      <!-- Global Box Start -->
      <div class="global-box grey-box">
        <!-- <app-comp-header></app-comp-header> -->
        <div class="fixture-inner">
<!-- media-detail-box Start -->
<div class="media-box max-WT-940">
    <div class="media-box-head">
      <div class="media-head-img"><img src="{{mediaData?.competitionId?.imageURL || 'assets/images/user-img.png'}}" alt="Image" /></div>
      <div class="media-head-info">
        <h4>{{mediaData?.competitionName}}</h4>
        <p>{{mediaData?.title}}</p>
      </div>
    </div>
    <div class="media-banner-img text-center" *ngIf="mediaData.typeOfMedia == 'NEWS' || mediaData.typeOfMedia == 'ALBUM' ">
      <!-- <img style="height: 235px;" src="{{mediaData?.mediaUrls[0].url}}" alt="Media Image" /> -->
      <slideshow [imageUrls]="imgArr" [height]="'325px'" [backgroundSize]="'contain'" ></slideshow>
      <!-- [dotColor]="'#131111'" [showDots]="true"  -->
    </div>
    <div class="media-banner-img text-center media-bammer-video" *ngIf="mediaData.typeOfMedia == 'VIDEO'">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/C-UwOWB9Io4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="media-description">
      <p class="more">
        {{mediaData?.description}}
      </p>
    </div>
    <div class="media-link-block">
      <div class="row">
        <div class="col-md-5">
          <ul class="like_comment">
            <li><a href="javascript:void(0);"><span>{{mediaData?.noOfLike}}</span> Like</a></li>
            <li><a href="javascript:void(0);"><span>{{mediaData?.noOfComment}}</span> Comments</a></li>
          </ul>
        </div>
        <div class="col-md-7">
          <ul class="share_list">
            <li><a class="makeLink" (click)="onLike()"><i [ngClass]="mediaData?.likeStatus == 'False' ? 'far fa-heart' : 'fas fa-heart errorMsg'"></i> {{(mediaData?.likeStatus == 'False') ? 'Like' : 'Unlike'}}</a></li>
            <li><a href="javascript:void(0);"><i class="fas fa-share-alt"></i> Share</a></li>
            <li><a href="javascript:void(0);"><i class="far fa-comment"></i> Comment</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- media-comment-box Start -->
<div class="media-comment-box mt20">
  <ul class="comment_list">
  
    <li>
       <form class="comment-form d-table">
       <div class="comment-user-img"><img src="{{mediaData?.competitionId?.imageURL || 'assets/images/user-img.png'}}" alt="User Image"/></div>
   <div class="comment-detail">
     <textarea class="form-control" rows="3" id="comment" placeholder="Write here your comment..." [(ngModel)]="comment" name="comment"></textarea>
  <button type="submit" class="btn btn-navy-blue max-WT-170 mt15" (click)="onComment()">Comment Send</button>
   </div>
   </form>
    </li>
    <li  class="d-table" *ngFor="let comment of mediaData.comments">
      <div class="comment-user-img">
         <img src="{{ comment?.commentImage || 'assets/images/user-img.png'}}" alt="User Image"/>
      </div>
   <div class="comment-detail" >
     <h5>{{comment?.commentFirstName}} {{comment?.commentLastName}}<span class="commented-time">{{comment?.createdAt | date: 'dd/MM/yyyy'}}</span></h5>
     <p>{{comment?.text}}</p>
   </div>
    </li>
     <!-- <li  class="d-table">
       <div class="comment-user-img"><img src="assets/images/user-img.png" alt="User Image"/></div>
   <div class="comment-detail">
     <h5>Mitchell Marsh<span class="commented-time">27/032018</span></h5>
     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
   </div>
    </li> -->
  </ul>
  
  </div>
  <!-- media-comment-box End -->

  </div>
  <!-- media-detail-box End -->
        </div>
      </div>
      <!-- Global Box End -->
    </div>
    <!-- Max With Box End -->
  </div>
</main>
<!-- main End -->
<app-footer></app-footer>


