<app-header></app-header>

<div class="topBanner height300">



  <div class="container">
    <!--
            <div class="row">
               <div class="col">
                  <div class="topBanner-content d-flex align-items-center w-100">
                     <div class="w-100">
                        <h1>COMPREHENSIVE MANAGEMENT OF<br> ANY SPORTS COMPETITION</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                     </div>
                  </div>
               </div>
            </div>
-->
  </div>
</div>
<!-- main Start -->
<main class="main-container pt0 mt-min60">
  <div class="custom-container">
    <div class="fixtures-section w-100 center-box">
      <!-- Global Box Start -->
      <div class="global-box grey-box">
        <app-comp-header></app-comp-header>
        <div class="fixture-inner">
          <div class="fixture-table summery-table">
            <div class="date-block">
              <a href="javascript:;"><i class="far fa-calendar-alt"></i>Fixtures</a>
            </div>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-left">
                      <img class="fixture-img" src="assets/images/fixture-img.png"> Metito
                    </td>
                    <td class="text-center">40-39</td>
                    <td class="text-right">
                      Emirates Building Systems
                      <img class="fixture-img" src="assets/images/fixture-img.png">
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <img class="fixture-img" src="assets/images/fixture-img.png"> Rapid Access (A)
                    </td>
                    <td class="text-center">8-10</td>
                    <td class="text-right">
                      WME Engineering Consultants
                      <img class="fixture-img" src="assets/images/fixture-img.png">
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <img class="fixture-img" src="assets/images/fixture-img.png"> Rapid Access (B)
                    </td>
                    <td class="text-center">19-24</td>
                    <td class="text-right">
                      Emrill Servcies
                      <img class="fixture-img" src="assets/images/fixture-img.png">
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="round-tr" style="background-color:transparent;">
                    <th class="rounds" colspan="2">round 1</th>
                    <th class=" blue-txt text-right" colspan="2"><a href="javascript:;" class="table-show-cal">Show Calender</a></th>

                  </tr>
                </tfoot>
              </table>
            </div>


          </div>
        </div>
      </div>
      <!-- Global Box End -->


    </div>
    <!-- Max With Box End -->

  </div>
</main>
<!-- main End -->
<app-footer></app-footer>
