<div class="custom-breadcrumb custom-breadcrumb1 mt0 clearfix">
    <div class="fleft">
      <nav class="breadcrumb">
          <a class="breadcrumb-item" [routerLink]="['/organizer/menuCompConfPlan']" [ngClass]="{ 'active' : (router.url== '/organizer/menuCompConfPlan')}" > Plan</a>
          <a class="breadcrumb-item"  [routerLink]="['/organizer/menuCompConfUser']"> User </a>
          <a class="breadcrumb-item" [routerLink]="['/organizer/menuCompConfRoleMatrix']"> Role Matrix </a>
          <a class="breadcrumb-item" href="javascript:;"> Account </a>
          <a class="breadcrumb-item" [routerLink]="['/organizer/menuCompConfPeriod']" [ngClass]="{ 'active' : (router.url== '/organizer/menuCompConfPeriod')}"> Period </a>
          <a class="breadcrumb-item" [routerLink]="['/organizer/menuCompConfDivision']" [ngClass]="{ 'active' : (router.url== '/organizer/menuCompConfDivision')}"> Division </a>
          <a class="breadcrumb-item" [routerLink]="['/organizer/menuCompConfSports']" [ngClass]="{ 'active' : (router.url== '/organizer/menuCompConfSports')}"> Sports </a>
      </nav>
    </div>
  </div> 