<app-header></app-header>
<div class="topBanner height300 logintopbanner">
</div>
<!-- main Start -->
<main class="main-container">
  <div class="container">
    <div class="content-box max-WT-767 mrgn-0-auto">
      <h2 class="log-head text-center">Forgot Password</h2>
      <div class="form-box max-WT-550 mrgn-0-auto mt60">
        <form [formGroup]="forgotPasswordForm">
          <p class="form-para">
            Don't worry about your password.Please enter your registered email. We will send you new password for login.
          </p>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-md-3 text-right">Email</label>
              <div class="col-md-8">
                <input type="email" class="form-control" [formControl]="forgotPasswordForm.controls.email" placeholder="Enter email">
                <div class="errorMsg" *ngIf="forgotPasswordForm.controls.email.dirty && forgotPasswordForm.controls.email.invalid">
                  <span *ngIf="forgotPasswordForm.controls.email.hasError('required')">*Please enter a email address.</span>
                  <span *ngIf="forgotPasswordForm.controls.email.hasError('pattern')">*Please enter a valid email address.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-md-3 nolabel">&nbsp;</label>
              <div class="form-button col-md-8 clearfix mt40">
                <button type="button" class="btn btn-navy-blue btn-block font_uni_sans" (click)="forgotPassword()">SUBMIT</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>



    <!-- Max With Box End -->

  </div>
</main>
<!-- main End -->
<app-footer></app-footer>