<main class="app-content patient-section">
  <div class="app-title">
    <h1><i class="fa fa-th-list"></i> Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                        <b><span>&#183;</span><span class="fontClass"> Today`s Listing</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Today`s Listing waiting for approval</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <b><span>&#183;</span><span class="fontClass"> Today`s Published Listing</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <b><span>&#183;</span><span class="fontClass"> Total  Listings</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                        <b><span>&#183;</span><span class="fontClass"> Today`s  Declined Bookings</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total Pending Bookings</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total Declined Bookings</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total  Bookings</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Today`s Logged In Active User</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total Active Users</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Today`s Comission</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Monthly Comission</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total Comission</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Today`s Flag Listings</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total Flagged Listings</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Today`s Revenue</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total Monthly Revenue</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Listing Waiting for Security Approval</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tile rectangle">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/text.png" class="img mt-2" />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Total Monthly Payments Processed</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Today`s Payment Failure</span></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <b><span>&#183;</span><span class="fontClass"> Monthly Payment Revenue</span></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
