<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>Peer To Peer Storage</h1>
    </div>
    <div class="login-box">
      <form class="login-form" [formGroup]="forgotPassword" #f="ngForm">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Forgot Password </h3>
        <div class="form-group">
          <label>Please enter a registered email address so that we can send you reset instructions</label>
          <label class="control-label">EMAIL <strong style="color:red">*</strong></label>
          <input class="form-control" formControlName="email" type="text" placeholder="Email">
          <div class="text-danger" *ngIf="forgotPassword.get('email').hasError('required') && (forgotPassword.get('email').dirty || f.submitted)">
            {{validationMessage?.email?.required}}
          </div>
          <div class="text-danger" *ngIf="forgotPassword.get('email').hasError('pattern') && !(forgotPassword.get('email').hasError('maxlength')) && (forgotPassword.get('email').dirty || f.submitted)">
            {{validationMessage?.email?.invalid}}
          </div>
        </div>
        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block" [disabled]="forgotPassword.invalid" (click)="submit(forgotPassword.value)"><i class="fa fa-sign-in fa-lg fa-fw"></i>Submit</button>
          <button class="btn btn-primary btn-block" [routerLink]="['/']"><i class="fa fa-arrow-left fa-lg fa-fw"></i>Back</button>
        </div>
      </form>
    </div>
  </section>
