<footer class="footer-section">
    <div class="custom-container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="footer-logo-block">
                        <div class="footer-logo">
                            <a href="javascript:;"><img class="logo_img" src="assets/images/logo.png" alt="logo" /></a>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                    <div class="copyright hidden-sm">DIGI © 2018 - All Rights Reserved.</div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="footer-link-col">
                        <div class="row">
                            <div class="col-sm-4 link-col">
                                <div class="footer-links-block">
                                    <h3 class="ftr-hdng">Company</h3>
                                    <ul class="ftr-links">
                                        <li><a [routerLink]="['/landing/aboutUs']" >About Us</a></li>
                                        <!-- <li><a href="javascript:;">Press</a></li>
                                        <li><a href="javascript:;">FAQ</a></li>
                                        <li><a href="javascript:;">Careers</a></li>
                                        <li><a href="javascript:;">Contact Us</a></li>
                                        <li><a href="javascript:;">Blog</a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 link-col">
                                <div class="footer-links-block">
                                    <h3 class="ftr-hdng">Legal</h3>
                                    <ul class="ftr-links">
                                        <li><a [routerLink]="['/landing/terms']" >Terms & Conditions</a></li>
                                        <li><a [routerLink]="['/landing/privacy']">Privacy Policy</a></li>
                                        <!-- <li><a href="javascript:;">Disclosures</a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 link-col">
                                <div class="footer-links-block">
                                    <h3 class="ftr-hdng">Connect With Us</h3>
                                    <ul class="social-links">
                                        <li class="facebook">
                                            <a href="https://www.facebook.com" target="_blank">
                                                <span class="social-icn">
                                <i class="fab fa-facebook-f"></i>
                                </span> Facebook
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com" target="_blank">
                                                <span class="social-icn">
                                <i class="fab fa-twitter"></i>
                                </span> Twitter
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.youtube.com" target="_blank">
                                                <span class="social-icn">
                                <!-- <i class="fab fa-google-plus-g"></i> -->
                                <i class="fab fa-youtube"></i>
                                </span> Youtube
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://www.instagram.com" target="_blank">
                                                <span class="social-icn">
                                <i class="fab fa-instagram"></i>
                                </span> Instagram
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>