
      <div class="wrapper">
        <!-- Header  Start  -->
      <app-header></app-header>
      <!--    Header   End   -->
      <div class="topBanner">
         <div class="container">
            
         </div>
      </div>
      <!-- main Start -->
      <main class="main-container pt0">

         <div class="container">
            <div class="content-box bg-gray mt20">
                <div class="content-box-filter p20  pt35 mt20">
                  <form novalidate autocomplete="off" [formGroup]="newsForm" >
                    <div class="max-WT-800 mrgn-0-auto">
                     <h5 class="head-sub text-center mb30"> Create News</h5>
                     <div class="row form-group" *ngIf="(loginTypeArr.length > 1)">
                        <label class="col-md-4">Select Role:</label>
                        <div class="col-md-8">
                           <select class="form-control select-style1"  (change)="getRole($event)">
                            <option value="">Select Role</option>
                            <option *ngIf="(loginTypeArr.includes('COMPETITION'))" value="COMPETITION">COMPETITION</option>
                            <option *ngIf="(loginTypeArr.includes('MEMBERSHIP'))" value="MEMBERSHIP">MEMBERSHIP</option>
                            <option *ngIf="(loginTypeArr.includes('VENUE'))" value="VENUE">VENUE</option>
                            <!-- <option *ngFor="let item of list.orgList" [value]="item._id" >{{item?.competitionName}}</option> -->
                           </select>                             
                        </div>
                     </div>
                        <div class="row form-group" *ngIf="loginRole == 'COMPETITION' &&(loginTypeArr.includes('COMPETITION'))">
                           <label class="col-md-4">Tag News To Competition:</label>
                           <div class="col-md-8">
                              <select class="form-control select-style1"  (change)="getCompetitionId($event)">
                               <option value="">Tag News To Competition</option>
                               <option *ngFor="let item of list.orgList" [value]="item._id" >{{item?.competitionName}}</option>
                              </select>                             
                           </div>
                        </div>
                        <div class="row form-group" *ngIf="loginRole == 'MEMBERSHIP' && (loginTypeArr.includes('MEMBERSHIP'))">
                          <label class="col-md-4">Tag News To membership:</label>
                          <div class="col-md-8">
                             <select class="form-control select-style1"  (change)="getMembershipId($event)">
                              <option value="">Tag News To membership</option>
                              <option *ngFor="let item of memberlist" [value]="item._id" >{{item?.membershipName}}</option>
                             </select>
                           </div>
                       </div>
                       <div class="row form-group" *ngIf="loginRole == 'VENUE' && (loginTypeArr.includes('VENUE'))">
                        <label class="col-md-4">Tag News To Venue:</label>
                        <div class="col-md-8">
                           <select class="form-control select-style1" (change)="getVenueId($event)">
                              <option value="">Tag Album To Venue</option>
                              <option *ngFor="let item of venueList" [value]="item._id">{{item?.venueName}}</option>
                          </select>
                         </div>
                     </div>
                        <div class="row form-group">
                           <label class="col-md-4">Add image:</label>
                            <div class="col-md-8">
                              <div class="file-upload">

                                  <label for="upload" class="file-upload__label">Browse Image</label>

                                  <input id="upload" class="file-upload__input"  formControlName="image"  type="file" name="file-upload" accept="image/*" (change)="onFileChange($event)" >

                              </div>
                              <p class="head-sm d-inline-block" style="word-break: break-all;">{{fileName}}</p>
                            </div>
                        </div>
                        <div class="row form-group">
                           <label class="col-md-4">Title:</label>
                            <div class="col-md-8">
                               <input type="text" class="form-control" placeholder="Title" maxlength="50" formControlName="title">
                            </div>
                        </div>
                        <div class="row form-group">
                           <label class="col-md-4">Description:</label>
                            <div class="col-md-8">
                               <textarea class="form-control textareaheight" placeholder="Description" maxlength="1000" formControlName="description" ></textarea>
                            </div>
                        </div>

                        <div class="text-right calendar-action mt30">
                           <button type="button" class=" btn btn-gray max-WT-150" (click)="goBack()" >Cancel</button>
                           <button type="submit" class=" btn btn-navy-blue max-WT-150" (click)="onPublish(1)" [disabled]="newsForm.invalid || !image"  *ngIf="!currId">Publish News</button>
                           <button type="submit" class=" btn btn-navy-blue max-WT-150" (click)="onPublish(2)"   *ngIf="currId">Update News</button>
                        </div>
                    </div>
                  </form>
               </div>
            </div>
         </div>
      </main>
      <!-- main End -->
      <!--   Footer  Start -->
      <app-footer></app-footer>
      <!--   Footer  End -->
      </div>
      <!-- Wrapper End -->
      <!-- Modal Start -->
      <div class="modal fade" id="add_to_card1" tabindex="-1" role="dialog"  aria-hidden="true">
         <div class="modal-dialog max-WT-600" role="document">
            <div class="modal-content">
               <form class="modal-add-card-form" action="profile-with-card.html">
                  <div class="modal-body text-center">
                     <h5 class="modal-head mt15 mb5 navy-blue font_uni_sans" >Add Card</h5>
                     <p class="head_lagend mb25">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                     <div class="max-WT-400 center-box">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Card Number" required/>
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control datepicker" placeholder="Expire Date" required/>
                        </div>
                        <div class="form-group mb5">
                           <input type="text" class="form-control" placeholder="CVC" required/>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix calendar-action text-center pL15 pR15">
                     <button type="button" class="mb25 btn btn-gray max-WT-150">Cancel</button>
                     <button type="submit" class="mb25 btn btn-navy-blue max-WT-150 mL5">Add</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!-- book_slot End -->
      <div class="modal fade common-modal" id="add_to_card" tabindex="-1" role="dialog"  aria-hidden="true">
         <div class="modal-dialog max-WT-600" role="document">
            <div class="modal-content">
               <form class="modal-add-card-form" action="profile-with-card.html">
                  <div class="modal-body text-center">
                     <h5 class="modal-head mt15 mb5 pb20 navy-blue font_uni_sans">Add Card</h5>
                     <div class="modal-content-body modalform-body text-left">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group clearfix row">
                                 <label class="col-md-3 label-blue">Card Number</label>
                                 <div class="col-md-9">
                                    <input type="text" class="form-control round-input" placeholder=""/>
                                 </div>
                              </div>
                              <div class="form-group clearfix row">
                                 <label class="col-md-3 label-blue">Expiry Date</label>
                                 <div class="col-md-9">
                                    <input type="text" class="form-control round-input" placeholder=""/>
                                 </div>
                              </div>
                              <div class="form-group clearfix row">
                                 <label class="col-md-3 label-blue">CVC</label>
                                 <div class="col-md-9">
                                    <input type="text" class="form-control round-input "  placeholder=""/>
                                 </div>
                              </div>
                              <div class="clearfix calendar-action mt30 text-left">
                                 <button type="button" class="mb25 btn btn-gray max-WT-150" data-dismiss="modal">Cancel</button>
                                 <button class="mb25 btn btn-navy-blue max-WT-150 mL5 pull-right"  type="button" data-toggle="modal" data-target="#edit_venue">Add</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      
  