
     <app-header></app-header>
     <div class="topBanner height300 logintopbanner">
     </div>
     <!-- main Start -->
     <main class="main-container">
       <div class="container">
         <div class="content-box max-WT-767 mrgn-0-auto p0">
           <div class="form-head-block">
             <h2 class="log-head text-center">Terms & Conditions</h2>
           </div>
             <div class="form-box p30">
                {{termsDet}}
             </div>
         </div>

     
     
     <!-- Max With Box End -->
     
   </div>
   </main>
     <!-- main End -->
     <app-footer></app-footer>

      