      <!-- Header Start -->
      <app-header></app-header>
      <!-- Header End -->
      <div class="topBanner">
         <div class="container">
         </div>
      </div>
      <!-- main Start -->
      <main class="main-container pt0 mt-min60">
         <div class="container">
            <div class="content-box bg-gray">
              <h2 class="content-box-head">Subscription plan</h2>
               <!-- <div class="content-box-filter">
                <form class="filter-form fullwidth max-WT-400">
                    <div class="row">
                      <div class="col-6">
                        <div class="radio-custom">
                          <span class="radio-checkbox"><input type="radio" id="check2" value="check2" name="check" checked>
                            <label for="check2">Yearly</label>
                          </span>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="radio-custom">
                          <span class="radio-checkbox"><input type="radio" id="check3" value="check3" name="check">
                            <label for="check3">Monthly</label>
                          </span>
                        </div>
                      </div>
                    </div>
                </form>
               </div> -->
              <div class="row mt30 justify-content-center">
                <div class="col-md-6" >
                  <div class="grid-column noborder box-shadow">
                    <!-- <h5 class="head-sub" *ngIf="loginRes?.result?.organizerType"> One {{loginRes?.result?.organizerType[0]  | letterCase}} </h5> -->
                    <h5 class="head-sub text-center">  {{getPlan(loginRes?.result?.subscription)}} </h5>
                    
                    <div class="plan-included-text">
                      <!-- <p *ngIf="loginRes?.result?.subscription == 'oneEvent'"> Create/Manage only one {{loginRes?.result?.organizerType[0] | lowercase}} </p>
                      <p *ngIf="loginRes?.result?.subscription != 'oneEvent'"> Create/Manage only unlimited {{loginRes?.result?.organizerType[0] | lowercase}} </p> -->
                      <div>
                        <h4>DataBase</h4>
                        <ul>
                          <li *ngFor="let data of DataBase">{{data}}</li>
                        </ul>
                        <h4 *ngIf="loginTypeArr.includes('COMPETITION')">For Competition</h4>
                        <ul *ngIf="loginTypeArr.includes('COMPETITION')">
                          <li *ngFor="let comp of subscriptionAccessCompetition">{{comp}}</li>
                        </ul>
                        <h4 *ngIf="loginTypeArr.includes('MEMBERSHIP')">For Membership</h4>
                        <ul *ngIf="loginTypeArr.includes('MEMBERSHIP')">
                          <li *ngFor="let mem of subscriptionAccessMembership">{{mem}}</li>
                        </ul>
                        <h4 *ngIf="loginTypeArr.includes('VENUE')">For Venue</h4>
                        <ul *ngIf="loginTypeArr.includes('VENUE')">
                          <li *ngFor="let ven of subscriptionAccessVenue">{{ven}}</li>
                        </ul>
                        <h4 *ngIf="Media">Media</h4>
                        <h4 *ngIf="Product">Product</h4>
                        <h4 *ngIf="UserManagment">UserManagment</h4>
                      </div>
                     
                      <h5 class="head-sub mb10 mt20" *ngIf="addonArr.length"> Subscription Add on </h5>
                      <div class="button-box" *ngIf="addonArr.length">
                        <!-- <p *ngFor="let key of objectKeys(loginRes?.result?.optionalSubsPrices)"> 
                          <input type="checkbox" (click)="selectAddOn(key)">{{key}}
                        </p> -->
                        <p *ngFor="let item of addonArr">
                          <input type="checkbox" (click)="selectAddOn(item)">  {{showNameFun(item?.name)}}
                        </p>
                        <!-- <h6>41$ Per Year</h6> -->
                        
                        <h6 class="mt20 mb20">Total Amount = $ {{totalPrice}} </h6>  
                        <div>
                            <p><input type="checkbox" [(ngModel)]="autoRenewPlan" name="autoRenewPlan"> Auto Renew Plan</p>
                          </div>                
                      </div>
                      <div class="text-center">
                        <button class="btn btn btn-dark-blue-s max-WT-150" type="button" (click)="paymentModal()">Select</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-4">
                  <div class="grid-column">
                    <h5 class="head-sub"> Monthly </h5>
                    <div class="plan-included-text">
                      <p> Create/Manage unlimited competitions </p>
                      <p> Player & Teams Management </p>
                      <p> Online Registration </p>
                      <p> Standing/Fixture Management </p>
                      <p> Media Management </p>
                      <p> Product Management </p>
                      <p> Website management </p>
                      <p> Social Media Integeration </p>
                      <p> Employee User Management </p>
                      <p> Financial Management </p>
                      <p> User Notification/Reminder </p>
                      <h5 class="head-sub"> Subscription Add on </h5>
                      <p> Website & hosting </p>
                      <div class="button-box">
                        <h6>40$ Per Year</h6>
                        <button class="btn btn btn-dark-blue-s max-WT-150" type="button">Select</button>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="col-md-4">
                  <div class="grid-column">
                    <h5 class="head-sub"> Yearly </h5>
                    <div class="plan-included-text">
                      <p> Create/Manage unlimited competitions </p>
                      <p> Player & Teams Management </p>
                      <p> Online Registration </p>
                      <p> Standing/Fixture Management </p>
                      <p> Media Management </p>
                      <p> Product Management </p>
                      <p> Website management </p>
                      <p> Social Media Integeration </p>
                      <p> Employee User Management </p>
                      <p> Financial Management </p>
                      <p> User Notification/Reminder </p>
                      <div class="button-box">
                        <h6>65$ Per Year</h6>
                        <button class="btn btn btn-dark-blue-s max-WT-150" type="button">Select</button>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>
            <!-- Max With Box End -->
         </div>
      </main>
      <!-- main End -->
     <!--  Footer Start -->
     <app-footer></app-footer>
     <!--  Footer End -->
	  
	 <!-- Modal Start -->
<div class="modal fade common-modal" id="paymentSubscription" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog max-WT-600" role="document">
       <div class="modal-content">
          <form class="modal-add-card-form" autocomplete="off" [formGroup]="cardForm">
             <div class="modal-body text-center">
                <h5 class="modal-head mt15 mb5 navy-blue font_uni_sans" >Payment</h5>
                <div class="modal-content-body">
                  <p class="head_lagend mb20  text-center para">Please enter details for payment</p>
                 <div class="center-box">
                    <div class="form-group clearfix row">
                      <label class="col-md-3 label-blue">Card Number</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Card number" maxlength="16" [formControl]="cf.card">
                        <div class="errorMsg" style="float: left" *ngIf="cf.card.dirty && cf.card.invalid">
                          <span *ngIf="cf.card.hasError('required')">*Please enter card no.</span>
                          <span *ngIf="cf.card.hasError('pattern')">*Please enter valid card no.</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group clearfix row">
                      <label class="col-md-3 label-blue">Expiry Date</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control " [formControl]="cf.expiryDate" placeholder="yyyy - mm" maxlength="7" />
                          <div class="errorMsg" style="float: left;" *ngIf="cf.expiryDate.dirty && cf.expiryDate.invalid">
                            <span *ngIf="cf.expiryDate.hasError('required')">*Please enter expiry date.</span>
                            <span *ngIf="cf.expiryDate.hasError('pattern')">*Please enter valid expiry date(YYYY-MM).</span>
                          </div>
                      </div>
                    </div>
                    <div class="form-group clearfix row">
                      <label class="col-md-3 label-blue">CVV</label>
                      <div class="col-md-9">
                          <input type="password" class="form-control" placeholder="CVV" maxlength="3" [formControl]="cf.cvv">
                          <div class="errorMsg" style="float: left" *ngIf="cf.cvv.dirty && cf.cvv.invalid">
                            <span *ngIf="cf.cvv.hasError('required')">*Please enter cvv.</span>
                            <span *ngIf="cf.cvv.hasError('pattern')">*Please enter valid cvv.</span>
                          </div>
                      </div>
                    </div>

                 </div>
                 <div class="clearfix calendar-action text-center pL15 pR15 mt30">
                    <button type="button" class="mb25 btn btn-navy-blue max-WT-150" style="float: left;" data-dismiss="modal">Cancel</button>
                    <button type="button" class="mb25 btn btn-navy-blue max-WT-150" style="float: right;" (click)="pay()" [disabled]="cardForm.invalid">Pay</button>
                 </div>
               </div>
             </div>
          </form>
       </div>
    </div>
 </div>
 <!--  Modal End-->
	  
       